<div class="container">
  <div class="head">
    <img [ngClass]="{'mobile': mobileQuery.matches, 'logo': true}" src="/assets/icon/Updates.png" alt="Updates Logo">
  </div>
  <div class="body">
    <ul class="default">
      <li class="row" *ngIf="!mobileQuery.matches">
        <mat-divider></mat-divider>
      </li>
      <li *ngFor="let post of postList | updatefilter: searchText">
        <div class="row">
          <div [ngClass]="{'mobile': mobileQuery.matches, 'col': true, 'w40': true}">
            <div class="image-wrapper">
              <div class="row">
                <img [ngClass]="{'mobile': mobileQuery.matches, 'post-image': true}"
                  [defaultImage]="image.defaultImage"
                  [lazyLoad]="post.image"
                  [offset]="image.offset"
                  alt="missing image">
              </div>
            </div>
          </div>
          <div [ngClass]="{'mobile': mobileQuery.matches, 'col': true, 'w60': true}">
            <div class="wrapper">
              <div class="row">
                <p class="col title"> {{ post.title }} </p>
              </div>
              <div class="row">
                <!-- {{ post.tags }} -->
                <p class="col"> NO COMMENTS </p> 
              </div>
              <div class="row">
                <p> {{ post.description | trimword: 150 }} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <mat-divider></mat-divider>
        </div>
      </li>
    </ul>
    <div class="row" #fixedBottom></div>
    <div class="row" #loadScroll>
      <mat-progress-bar mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>
    </div>
  </div>
</div>