/**
 * @description of classes
 * .container for whole page wrapper.
 * .head for wrapper for header in a page.
 * .body for wrapper for body in a page.
 * .row keep contains closer in a row.
 * .col keep contains aligned in columns. Works responsively.
 * .head for wrapper for header in a page.
 * .w40 sets width to 40%.
 * .w60 sets width to 60%.
 * .m-r-25 sets 25px margin to right.
 * .wrapper wraps the whole content with 15px padding. Works responsively.
 */


.container {
  width: 90%;
  margin: auto;
}

.hidden .head, .hidden .body, .hidden .footer, .head.mobile, .body.mobile, .footer.mobile {
  padding: 0px;
}

.head, .body, .footer {
  padding: 15px;
}

.row {
  padding: 10px 0;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.col.mobile {
  display: block;
}

.col.w40 {
  width: 40%;
}

.col.w60 {
  width: 60%;
}

.col.w100 {
  width: 100%;
}

.col.w40.mobile, .col.w60.mobile {
  width: 100%
}

.col.m-r-25 {
  margin-right: 25px;
}

.post-image {
  width: 100%;
  max-height: 250px;
}

.wrapper {
  padding: 0 15px;
}

.mobile .wrapper {
  padding: 0px;
}

.image-wrapper {
  text-align: right;
}

.mobile .image-wrapper {
  text-align: center;
}

ul.default {
  list-style-type: none;
  padding: 0;
}

p.title {
  font-size: 25px;
  color: #C3233F;
  font-weight: 700;
}

.mobile p.title {
  font-size: 20px;
}

.chat-view-wrapper {
  cursor: pointer;
}

.chat-view-wrapper:focus {
  outline: none;
}

.p-t-15.imp {
  padding-top: 15px !important;
}