<div class="content-wrapper">
  <div [ngClass]="{'body': true, 'mobile': mobileQuery.matches}">

    <!-- Create Post Button -->
    <button mat-fab class="create-post" matTooltip="Create New" matTooltipPosition="before">
      <mat-icon aria-label="Create new post icon">add</mat-icon>
    </button>

    <!-- LATEST POSTS APPEARS HERE -->
    <div class="row">
      <div class="col w70">
        <div class="update-tab"> LATEST UPDATES </div>
        <mat-divider></mat-divider>

        <!-- Repeat should be here -->
        <div class="row">

          <!-- Keep the image in here -->
          <div class="col w50">

          </div>

          <!-- Keep the description in here -->
          <div class="col w50">

          </div>
        </div>
      </div>
    </div>

    <!-- ALL POSTS APPEARS HERE -->
    <div class="row">
      <div class="col w70">
        <div class="update-tab"> ALL UPDATES </div>
        <mat-divider></mat-divider>

        <!-- Repeat should be here -->
        <div class="row">

          <!-- Keep the image in here -->
          <div class="col w50">
            <img src="/assets/post/1.jpg" alt="missing post images!" [ngClass]="{'post-image': true}">
          </div>

          <!-- Keep the description in here -->
          <div class="col w50">
            <div class="m-l-20">
              <ul class="post-tag m-b-5">
                <li> Action </li>
                <li> Fight </li>
              </ul>
              <div class="row">
                <p class="pg-bg title"> UNTITLED SCIFI GAME </p>
              </div>
              <div class="row">
                <p class="pg-bg">  So our game currently has the code name Untitled SciFi Game or (USG) for short. Anyone who can get the reference to that one will get their name in th... </p>
              </div>
              <div class="row">
                <mat-checkbox [checked]="true">Checked</mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
  