
.container {
  width: 100%;
}

.head {
  padding: 15px;
}

.body {
  padding: 15px;
}

.row {
  padding: 10px 0;
}

.contact-input {
  width: 100%;
  max-width: 700px; 
}

/* .contact-input.textarea .mat-form-field-infix {
  height: 150px;
} */