<div class="content-wrapper">
  <div [ngClass]="{'body': true, 'mobile': mobileQuery.matches}">

    <!-- Create Post Button -->
    <button *ngIf="isAdmin" (click)="visitCreate()" mat-fab class="b-r-btn" matTooltip="Create New" matTooltipPosition="before">
      <mat-icon aria-label="Create new news icon">add</mat-icon>
    </button>

    <!-- ALL POSTS APPEARS HERE -->
    <div class="row">
      <div class="col w70">
        <div class="news-tab"> ALL NEWS </div>
        <mat-divider></mat-divider>

        <!-- Repeat should be here -->
        <ul [@openClose]="news.length ? 'closed' : 'open'">
          <li class="row pg-bg">
            <div class="col w100">
              <p class="t-al-center"> {{updateText}} </p>
            </div>
          </li>
          <li class="row" *ngIf="loadingBar">
            <div class="col w100">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </li>
        </ul>

        <ul [@openClose]="!news.length ? 'closed' : 'open'">
          <li class="col flex-container w100" *ngFor="let n of news; index as i;">
            <div class="wrap flex-container" > <!--  class="o-flow-hidden" [style.height.px]="imgHeight" -->

              <!-- achievement description -->
              <div class="col p-t-10 p-b-10 flex-container h-left c-pointer" (click)="visitDetails(n._id);" [ngClass]="!mobileQuery.matches ? '' : 'w100'">
                <div class="flex" [ngClass]="!mobileQuery.matches ? 'w500px' : 'w100'"> <div class="row"> <h3 class="c-red font-25"> {{ n?.title | titlecase }} </h3> </div> </div>
                <div class="flex" [ngClass]="!mobileQuery.matches ? 'w500px' : 'w100'">
                  <div class="row"> <span [innerHTML]="n?.content" class="writable-update font-Montserrat"></span> </div>
                </div>
              </div>

              <!-- copy achievement id -->
              <div class="col p-10 flex-container v-center h-left" *ngIf="isAdmin">
                <button mat-icon-button (click)="action.copyToClipboard(n?._id);" matTooltip="Copy" matTooltipPosition="after">
                  <mat-icon aria-label="icon-button with a heart icon"> file_copy </mat-icon>
                </button>
              </div>

            </div>
            <div class="wrap flex-container">
              <mat-divider class="w100"></mat-divider>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>