<mat-grid-list cols="4" rowHeight="80px">
  <mat-grid-tile colspan=4 rowspan=1>
    <mat-grid-tile-header> <span> About Us </span> </mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="48px">
  <mat-grid-tile colspan=4 rowspan=1>
    <mat-grid-tile-footer>
      <p> Alfred Burns </p>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile colspan=4 rowspan=1>
    <mat-grid-tile-footer>
      <p> Alfred Burns </p>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile colspan=4 rowspan=1>
    <mat-grid-tile-footer>
      <p> Alfred Burns </p>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
