.heading {
	font-family: 'Nasalization';
    font-size: 50px;
    text-decoration: underline;
    color: #931928;
}

.blog-contents {
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
    font-family: 'Norwester';
}