.footer {
	z-index: 3;
	position: fixed;
	color: white;
	bottom: 0;
	height: auto;
	width: 100%;
}

footer>div>img {
	margin: 2px;
	cursor: pointer;
}

.share-icon-cover {
	text-align: right;
	margin-right: 10px;
}