<div class="psynapsus-container" [class.psynapsus-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" [ngClass]="{'mobile': mobileQuery.matches, 'psynapsus-toolbar': true, 'default': true}">
      <mat-toolbar-row [ngClass]="{'mobile': mobileQuery.matches}">

        <!-- Set [ngClass]="{'hidden': true}" to hide mobile nav button. -->
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <img *ngIf="!mobileQuery.matches" routerLink="/" src="/assets/logo/final-logo.png" alt="Rotten Visions Logo" class="site-logo"
          matTooltip="Rotten Visions | Home" matTooltipPosition="after">
        <div class="search-holder">
          <input type="search" [ngClass]="{'mobile': mobileQuery.matches}">
          <img class="search-icon" src="/assets/icon/search.png" alt="Search Logo"
          matTooltip="Click on SEARCH" matTooltipPosition="after">
          <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="playMovie()">
              <mat-icon>error_outline</mat-icon>
              <span>Play Movie</span>
            </button>
          </mat-menu> -->
        </div>
      </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="psynapsus-sidenav-container default" [style.marginTop.px]="mobileQuery.matches ? 60 : 0">

    <!-- Remove opened attribute to hide side nav after page load. -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" [fixedTopGap]="mobileQuery.matches ? 60 : 130" class="default"
      [ngClass]="{'mobile': mobileQuery.matches}">
      <mat-nav-list>

        <!-- Router Links Should Stay Here -->
        <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="mobileQuery.matches" (click)="snav.toggle()">Home</a>
        <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="snav.toggle()">About</a>
        <a mat-list-item routerLink="/projects" routerLinkActive="active" (click)="snav.toggle()">Projects</a>
        <a mat-list-item routerLink="/updates" routerLinkActive="active" (click)="snav.toggle()">Blog</a>
        <a mat-list-item routerLink="/contact" routerLinkActive="active" (click)="snav.toggle()">Contact</a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Static Contents Should Stay Here -->

      <!-- Page Will Be Rendered Here -->
      <router-outlet (activate)="routeChange($event)"></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>