<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar default">
      <mat-toolbar-row>
        <button mat-icon-button [ngClass]="{'hidden': !mobileQuery.matches}" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <img [routerLink]="['/']" src="./assets/logo/clean-logo.png" alt="Rotten Visions Logo" class="site-logo"
          matTooltip="Rotten Visions | Home" matTooltipPosition="after">
          <div class="search-holder">
            <input type="search" placeholder="Search">
          </div>
      </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container default" [style.marginTop.px]="mobileQuery.matches ? 130 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="130" class="default"
      [ngClass]="{'mobile': mobileQuery.matches}">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<video autoplay loop [ngClass]="{'mobile': mobileQuery.matches, 'movie': true}">
  <source src="./assets/video/movie.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
<div class="mobile-bg"></div>