<div class="psynapsus-container" [class.psynapsus-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="psynapsus-toolbar">

    <!-- Help to improve the performance. -->
    <button aria-label="Navigation" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="psynapsus-app-name"> Psynapsus </h1>
    <div class="power-wrapper">
      <mat-icon matSuffix class="material-icons" matTooltip="Logout!" matTooltipPosition="before" (click)="logout();"> power_settings_new </mat-icon>
    </div>
  </mat-toolbar>

  <!-- <div > -->
      <mat-sidenav-container #container class="psynapsus-sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
          [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

          <!-- Router Links Should Stay Here -->
          <mat-nav-list>

          <!-- Set [routerLinkActiveOptions]="{exact: true}" when routing to root URL. -->
            <a mat-list-item [routerLink]="item.url" routerLinkActive="active" *ngFor="let item of navList">{{ item.nav }}</a>
          </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
          <router-outlet (activate)="routeChange($event)"></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
  <!-- </div> -->
</div>