.psynapsus-button-toggle {
  outline: none;
}

.psynapsus-toolbar {
  position: fixed;
  z-index: 2;
}

h1.psynapsus-angular-header {
  margin-left: 8px;
}

.psynapsus-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.psynapsus-is-mobile .psynapsus-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

/**
 * @description SET background color of your choice.
 */
.mat-nav-list .mat-list-item {
  background: none;
  background-image: url(/assets/background/white-bg.png);
  transition: 0.2s ease-in-out all;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 250px;
  margin: 10px 5px;
}
.mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item.active {
  /* background: #a73e45; */
  /**
   * @description nav items with background image and animation
   */
  background-image: url(/assets/background/red-bg.png);
  transition: 0.2s ease-in-out all;
}

.power-wrapper {
  display: flex;
  justify-content: flex-end;
  /* width: -webkit-fill-available;
  width: -moz-available; */
  width: 100%;
}

.power-wrapper .material-icons {
  cursor: pointer;
}