<div class="content-wrapper">
  <div [ngClass]="{'body': true, 'mobile': mobileQuery.matches}">

    <!-- View Own Achievements Button -->
    <button mat-fab class="t-r-btn" matTooltip="View achievement" matTooltipPosition="before" aria-label="icon-button with an emoji_people icon" (click)="viewOwn()">
      <mat-icon aria-label="View own achievements">emoji_people</mat-icon>
    </button>

    <!-- Create Achievements Button -->
    <button *ngIf="isAdmin" mat-fab class="b-r-btn" matTooltip="Create achievement" matTooltipPosition="before" aria-label="icon-button with an add icon" (click)="visitCreate();">
      <mat-icon aria-label="Create new post icon">add</mat-icon>
    </button>

    <div class="row" *ngIf="store.user.data?.capability === 2">
      <div class="col w100">
        <div class="dark-tab"> UPDATE ACHIEVEMENT </div>
        <mat-divider></mat-divider>
    
        <div>
          <form #achvUpFormElem [formGroup]="achvUpForm" (ngSubmit)="updateAchv($event);">

              <div class="row">

                <div class="col flex-container w100">

                  <div class="wrap flex-container">

                    <div class="flex p-r-10" [ngClass]="{'p-r-10': !mobileQuery.matches, 'w100': mobileQuery.matches}">
                      <mat-form-field class="contact-input w100" appearance="outline">
                        <mat-label> Achievement id </mat-label>
                        <input matInput placeholder="eg.: 9ce243def5ay6a061f40cch3" autocomplete="off" formControlName="_id">
                      </mat-form-field>
                    </div>

                    <div class="flex" [ngClass]="{'p-l-10 p-r-10': !mobileQuery.matches, 'w100': mobileQuery.matches}">
                      <mat-form-field class="contact-input w100" appearance="outline">
                        <mat-label> User email </mat-label>
                        <input matInput placeholder="eg.: 9ce243def5ay6a061f40cch3" autocomplete="off" formControlName="email">
                      </mat-form-field>
                    </div>

                    <div class="col flex-container v-center" *ngIf="!mobileQuery.matches" [ngClass]="'p-l-10 p-r-10 p-b-24'">
                      <button [disabled]="disableClick" mat-mini-fab color="primary" type="button" (click)="deleteUserFromAchievement($event);">
                        <mat-icon aria-label="icon-button with a heart icon">remove</mat-icon>
                      </button>
                    </div>

                    <div class="col flex-container v-center" *ngIf="!mobileQuery.matches" [ngClass]="'p-l-10 p-r-10 p-b-24'">
                      <button [disabled]="disableClick" mat-mini-fab color="primary" type="submit">
                        <mat-icon aria-label="icon-button with a heart icon">add</mat-icon>
                      </button>
                    </div>

                    <div class="col flex-container v-center" [ngClass]="['w100']" *ngIf="mobileQuery.matches">
        
                      <!-- Back button column for desktop or mobile -->
                      <div class="col inline" [ngClass]="['right']">
                        <div class="m-l-10 force">
                          <button [disabled]="disableClick" mat-stroked-button type="button" color="primary" (click)="deleteUserFromAchievement($event);"> Remove </button>
                        </div>
                      </div>
        
                      <!-- Publish or Save button column for mobile -->
                      <div class="col inline" [ngClass]="['right']">
                        <button [disabled]="disableClick" mat-raised-button type="submit" color="primary"> Add </button>
                      </div>
        
                    </div>

                  </div>

                </div>

              </div>

          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col w100">

        <!-- Repeat should be here -->
        <ul [@openClose]="games.length ? 'closed' : 'open'">
          <li class="row pg-bg">
            <div class="col w100">
              <p class="t-al-center"> Loading all achievements... </p>
            </div>
          </li>
          <li class="row" *ngIf="loadingBar">
            <div class="col w100">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </li>
        </ul>

        <ul>
          <li *ngFor="let g of games" class="p-b-50">

            <div class="dark-tab"> {{g?.title}} </div>
            <mat-divider></mat-divider>
        
            <ul [@openClose]="!g.achievements.length ? 'closed' : 'open'">
              <li class="col flex-container w100" *ngFor="let a of g.achievements; index as i;">
                <div class="wrap flex-container">
    
                  <!-- achievement thumbnail -->
                  <div class="flex p-10 c-pointer" *ngIf="!mobileQuery.matches" (click)="visitDetails(a._id);">
                    <img alt="missing logo" class="achievement-thumbnail"
                    [defaultImage]="image.defaultUrl"
                    [lazyLoad]="a.thumbnail || image.defaultUrl"
                    [offset]="image.offset">
                  </div>
    
                  <!-- achievement description -->
                  <div class="col p-10 flex-container v-center h-left c-pointer" (click)="visitDetails(a._id);" [ngClass]="!mobileQuery.matches ? '' : 'w100'">
                    <div class="flex" [ngClass]="!mobileQuery.matches ? 'w500px' : 'w100'"> <h3 class="t-red font-16"> {{ a?.title | titlecase }} </h3> </div>
                    <div class="flex" [ngClass]="!mobileQuery.matches ? 'w500px' : 'w100'"> <span class="font-Montserrat font-12"> {{ a?.description }} </span> </div>
                  </div>
    
                  <!-- achievement completion progress -->
                  <div class="col p-10 flex-container v-center h-left">
                    <div class="row flex-container"> 
                      <!-- <div class="flex p-r-5"> <span class="font-Montserrat font-12"> {{a.users?.length}} </span> </div> -->
                      <div class="flex w200px p-t-5"> <mat-progress-bar class="achieved-progress" mode="determinate" [value]="(a.users?.length / totalUser) * 100"></mat-progress-bar> </div>
                      <div class="flex p-l-5"> <span class="font-Montserrat font-12"> {{ (a.users?.length / totalUser) * 100 }}% </span> </div>
                    </div>            
                  </div>
    
                  <!-- copy achievement id -->
                  <div class="col p-10 flex-container v-center h-left" *ngIf="store.user.data?.capability === 2">
                    <button mat-icon-button (click)="action.copyToClipboard(a?._id);" matTooltip="Copy" matTooltipPosition="after">
                      <mat-icon aria-label="icon-button with a heart icon"> file_copy </mat-icon>
                    </button>
                  </div>
                </div>
                <div class="flex"> <mat-divider></mat-divider> </div>
              </li>
            </ul>
          </li>
        </ul>


      </div>
    </div>

  </div>
</div>
  