<div class="content-wrapper">
  <div [ngClass]="{'body': true, 'mobile': mobileQuery.matches}">

    <div class="row" *ngIf="store.user.data?.capability === 2">
      <div class="col w100">
        <div class="dark-tab"> UPDATE ACHIEVEMENT </div>
        <mat-divider></mat-divider>
    
        <div>
          <form #achvUpFormElem [formGroup]="achvUpForm" (ngSubmit)="updateAchv($event);">

              <div class="row">

                <div class="col flex-container w100">

                  <div class="wrap flex-container">

                    <div class="flex p-r-10" [ngClass]="{'p-r-10': !mobileQuery.matches, 'w100': mobileQuery.matches}">
                      <mat-form-field class="contact-input w100" appearance="outline">
                        <mat-label> Achievement id </mat-label>
                        <input matInput placeholder="eg.: 9ce243def5ay6a061f40cch3" autocomplete="off" formControlName="id">
                      </mat-form-field>
                    </div>

                    <div class="flex" [ngClass]="{'p-l-10 p-r-10': !mobileQuery.matches, 'w100': mobileQuery.matches}">
                      <mat-form-field class="contact-input w100" appearance="outline">
                        <mat-label> User db id </mat-label>
                        <input matInput placeholder="eg.: 9ce243def5ay6a061f40cch3" autocomplete="off" formControlName="user">
                      </mat-form-field>
                    </div>

                    <div class="col flex-container v-center" [ngClass]="{'p-l-10 p-r-10 p-b-24': !mobileQuery.matches, 'w100': mobileQuery.matches}">
                      <button mat-mini-fab color="primary" type="submit" *ngIf="!mobileQuery.matches">
                        <mat-icon aria-label="icon-button with a heart icon">navigate_next</mat-icon>
                      </button>

                      <button mat-raised-button color="primary" type="submit" *ngIf="mobileQuery.matches" class="right"> Update </button>
                    </div>

                  </div>

                </div>

              </div>

          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col w100">

        <div class="dark-tab"> ALL ACHIEVEMENTS </div>
        <mat-divider></mat-divider>
    
        <!-- Repeat should be here -->
        <ul [@openClose]="achievements.length ? 'closed' : 'open'">
          <li class="row pg-bg">
            <div class="col w100">
              <p class="t-al-center"> Loading all achievements... </p>
            </div>
          </li>
          <li class="row" *ngIf="loadingBar">
            <div class="col w100">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </li>
        </ul>
    
        <ul [@openClose]="!achievements.length ? 'closed' : 'open'">
          <li class="col flex-container w100" *ngFor="let a of achievements; index as i;">
            <div class="wrap flex-container">
              <div class="flex p-10" *ngIf="!mobileQuery.matches">
                <img alt="missing logo" class="achievement-thumbnail"
                [defaultImage]="image.default"
                [lazyLoad]="a.thumbnail || image.defaultUrl"
                [offset]="image.offset">
              </div>
              <div class="col p-10 flex-container v-center h-left" [ngClass]="!mobileQuery.matches ? '' : 'w100'">
                <div class="flex" [ngClass]="!mobileQuery.matches ? 'w500px' : 'w100'"> <h3 class="t-red font-16"> {{ a?.title | titlecase }} </h3> </div>
                <div class="flex" [ngClass]="!mobileQuery.matches ? 'w500px' : 'w100'"> <span class="font-Montserrat font-12"> {{ a?.description }} </span> </div>
              </div>
              <div class="col p-10 flex-container v-center h-left">
                <div class="row flex-container"> 
                  <div class="flex p-r-5"> <span class="font-Montserrat font-12"> {{a.users?.length}} </span> </div>
                  <div class="flex w200px p-t-5"> <mat-progress-bar class="achieved-progress" mode="determinate" [value]="(a.users?.length / totalUser) * 100"></mat-progress-bar> </div>
                  <div class="flex p-l-5"> <span class="font-Montserrat font-12"> {{totalUser}} </span> </div>
                </div>            
              </div>
              <div class="col p-10 flex-container v-center h-left">
                <button mat-icon-button (click)="action.copyToClipboard(a?._id);">
                  <mat-icon aria-label="icon-button with a heart icon"> file_copy </mat-icon>
                </button>
              </div>
            </div>
            <div class="flex"> <mat-divider></mat-divider> </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
  