<div class="content-wrapper" [ngClass]="{'hidden': hiddenContent}">

  <div [ngClass]="{'body': true, 'mobile': mobileQuery.matches}">

    <div class="row">
      <div class="col w100">
        <div class="dark-tab"> ACHIEVEMENT </div>
        <mat-divider></mat-divider>
      </div>
    </div>

    <div class="row">
      <div class="col w100">

        <mat-accordion>

          <ul>
            <li *ngFor="let item of achievements">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ item?.game }}
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                    game description
                  </mat-panel-description> -->
                </mat-expansion-panel-header>

                <ul>
                  <li *ngFor="let ach of item?.data">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{ ach?.title }}
                        </mat-panel-title>
                        <mat-panel-description>
                          {{ ach?.description }}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
      
                      <p>Details will appear soon ...</p>
                    </mat-expansion-panel>
                  </li>
                </ul>
              </mat-expansion-panel>
            </li>

            <li *ngIf="!achievements.length">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Loading achievements ...
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- <p>I'm visible because I am open</p> -->
              </mat-expansion-panel>
            </li>
          </ul>

        </mat-accordion>
            
      </div>
    </div>

  </div>

</div>