/*
    Downloaded fonts: 

    Nasalization
    Norwester
    NovecentosansWideboldMacroman
*/

.home-container {
	font-family: 'NovecentosansWideboldMacroman';
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.home-container span {
	display: inline-block;
}

.home-container span.site-name, span.site-seperator {
	margin-right: 7px;
}

.home-container > span.site-name {
	color: #931928;
	font-size: 45px;
}
