<div>
	<div class="backgroud-video">
		<video autoplay="autoplay" preload loop>
			<source height="100%" width="100%" src="assets/videos/Rotten_Visions_Background_4K_video.mp4" type="video/mp4">
		</video>
	</div>

	<header>
		<a href="/">
			<img src="assets/Rotten-vision-design/Source/Logo/RV_Logo Final.png" height="100" width="100">
			<span class="heading">Rotten Vision</span>
		</a>
		
	</header>
	
	<!-- <div class="container-fluid main-container">
	  <div>
	  	<router-outlet></router-outlet>
	  </div>
	</div> -->

	<app-footer></app-footer>

</div>