<div class="chat-window">
  <div class="body">
    <div class="menu col">
      <div class="header">
        <h3>Abhisek Dutta</h3>
      </div>
      <div class="user-list">
        <div class="search">

        </div>
        <ul class="all-chats">
          <li class="row">
            <div class="profile-cover col">
              <img src="http://127.0.0.1:3333/upload/avatar/avatar.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4>Alfred Burns</h4>
              <p class="recent-msg-text">Good morning Abhisek!</p>
            </div>
          </li>
          <li class="row">
            <div class="profile-cover col">
              <img src="http://127.0.0.1:3333/upload/avatar/avatar.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4>Subhojit Mondal</h4>
              <p class="recent-msg-text">Good morning Abhisek!</p>
            </div>
          </li>
          <li class="row">
            <div class="profile-cover col">
              <img src="http://127.0.0.1:3333/upload/avatar/avatar.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4>Rajat Sasmal</h4>
              <p class="recent-msg-text">Good morning Abhisek!</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="message col">
      <div class="header">
        <h3>Alfred Burns</h3>
      </div>
      <div class="message-list"></div>
    </div>
  </div>
</div>
