<div class="chat-window">
  <div class="body">
    <div class="menu col">
      <div class="header">
        <h3>Abhisek Dutta</h3>
      </div>
      <div class="user-list">
        <div class="search row">
          <div class="col">
            <img src="http://127.0.0.1:3333/upload/avatar/add-user.png" alt="user" class="user-img" />
          </div>
          <div class="recent-msg col">
            <h4>New Conversation</h4>
          </div>
        </div>
        <ul class="all-chats">
          <li class="row" (click)="user.fname='Alfred';user.lname='Burns';msgview=true">
            <div class="profile-cover col">
              <img src="http://127.0.0.1:3333/upload/avatar/female.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4>Alfred Burns</h4>
              <p class="recent-msg-text">Good morning Abhisek!</p>
            </div>
          </li>
          <li class="row">
            <div class="profile-cover col">
              <img src="http://127.0.0.1:3333/upload/avatar/female.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4>Subhojit Mondal</h4>
              <p class="recent-msg-text">Good morning Abhisek!</p>
            </div>
          </li>
          <li class="row">
            <div class="profile-cover col">
              <img src="http://127.0.0.1:3333/upload/avatar/female.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4>Rajat Sasmal</h4>
              <p class="recent-msg-text">Good morning Abhisek!</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="message col">
      <div class="header" (click)="msgview = false" [ngClass]="{'extrapadding': !msgview}">
        <h3 *ngIf="msgview">{{user.fname}} {{user.lname}}</h3>
      </div>
      <div class="message-list" *ngIf="!msgview">
        <ul class="all-chats no-user">
          <li>

          </li>
        </ul>
      </div>
      <div class="message-list" *ngIf="msgview">
        <ul class="all-chats">
          <li>

          </li>
        </ul>
        <div class="input">
          <input type="text" placeholder="Send a message" class="chat-input" />
        </div>
      </div>
    </div>
  </div>
</div>
