.chat-window {
  border: 1px solid #0f9d58;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}
.row, .text-message {
  position: relative;
  padding: 5px 10px;
  padding-right: 25px;
  cursor: pointer;
}
.row.selected {
  background: #f1f1f1;
}
.row:hover {
  background: #f1f1f1;
}
.col {
  display: inline-block;
  vertical-align: top;
}
h3, h4 {
  margin: 0;
  font-weight: 400;
}
p {
  margin: 0;
}
.header {
  padding: 1em;
  background: #0f9d58;
  color: #fff;
}
.message-list {
  /* min-height: 400px; */
  /* min-width: 500px; */
  min-width: 410px;
}
.user-list {
  max-width: 350px;
  border-right: 1px solid #bdbdbd;
}
.all-chats {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}
.message-list .all-chats {
  background: #f1f1f1;
}
.message-list .all-chats.no-background {
  background: #fff;
}
.message-list .all-chats.no-user {
  min-height: 475px;
  max-height: 475px;
}
.user-img {
  display: block;
}
.recent-msg {
  padding: 12px 0 12px 70px;
}
.search .recent-msg {
  padding: 22px 0 22px 70px;
}
.recent-msg-text {
  padding: 1px 0;
  color: #6d6d6d;
  font-size: 14px;
}
.error-connection {
  text-align: center;
  background: #f1ed71;
}
.search {
  border-bottom: 1px solid #bdbdbd;
}
.chat-input {
  width: -webkit-fill-available;
  border: 2px solid #bdbdbd;
  min-height: 69px;
  padding: 1px 15px;
  outline: none;
}
.message .header:not(.extrapadding) {
  cursor: pointer;
  position: relative;
}
.message .header.extrapadding {
  padding-top: 35px;
}
.no-user-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

/*
 * Show Text To Recipient Logo Alignment
 */
  .show-text-logo, .cancel-logo, .enable-select-user-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .show-text-logo, .enable-select-user-logo {
    right: 60px;
  }
  .cancel-logo {
    right: 10px;
  }

/*
 * Icon Image Alignment Fixed
 */
  .img-col {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .img-col.padding {
    padding: 12px;
  }
  .img-col.padding .user-img {
    width: 42px;
  }


/*
 * Styles for messages in chats
 */
  .text-message-list {
    margin: 10px;
    height: 100%;
    overflow: hidden;
  }
  .text-message {
    padding: 10px;
    border: 1px solid #cfd8dc;
    background: #cfd8dc;
    width: fit-content;
    max-width: 320px;
    border-radius: 5px;
    float: right;
    overflow-wrap: break-word;
  }
  .text-message.left {
    border: 1px solid #fff;
    background: #fff;
    float: left;
  }
  .text-message.left.text-typing {
    background: #303030;
    border: 1px solid #303030;
    color: #fff;
  }

/*
 * Styles For New Conversation Template
 */
  .user-list-heading {
    padding: 5px 10px;
    margin: 0;
    text-align: center;
    background: #229d58;
    color: #fff;
  }
  .avail-user-check {
    position: absolute;
    right: 20px;
    top: 44%;
    transform: translateY(-50%);
  }

/*
 * Selected User Styles
 */
  .selected-user-container {
    padding: 0;
  }
  .selected-user {
    border: 1px solid #bdbdbd;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 2px;
  }
  .scroll-fixed {
    max-width: 375px;
    overflow-x: auto;
  }
