<div class="chat-window">
  <div class="body">
    <div class="menu col">
      <div class="header">
        <h3>{{user.fname}} {{user.lname}}</h3>
      </div>
      <div class="user-list">
        <div class="row error-connection" *ngIf="!connection.status"> {{connection.text}} </div>
        <div class="search row" (click)="showSearchSection($event)">
          <div class="col img-col padding">
            <img src="../../assets/images/plus.png" alt="user" class="user-img" />
          </div>
          <div class="recent-msg col">
            <h4> New Conversation </h4>
          </div>
        </div>
        <ul class="all-chats">
          <li class="row" *ngIf="newChat.selected" [ngClass]="{'selected': newChat.selected}">
            <div class="img-col col">
              <img src="http://127.0.0.1:3333/upload/avatar/female.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4>{{newChat.fname}} {{newChat.lname}}</h4>
              <p class="recent-msg-text">{{newChat.lastText | trimword: 20}}</p>
            </div>
          </li>
          <li class="row" *ngFor="let o of chatList" (click)="getMessage(o)" [ngClass]="{'selected': o.selected}">
            <div class="img-col col">
              <img src="http://127.0.0.1:3333/upload/avatar/female.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4>{{o.fname}} {{o.lname}}</h4>
              <p class="recent-msg-text">{{o.lastText | trimword: 20}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="message col">
      <div class="header" [ngClass]="{'extrapadding': noneview}">
        <h3 *ngIf="msgview">{{recipient.fname}} {{recipient.lname}}</h3>
        <h3 *ngIf="selectuserview"> New Conversation </h3>
        <img *ngIf="msgview" (click)="showTyping.actualText = !showTyping.actualText" class="show-text-logo" [src]="!showTyping.actualText ? '../../assets/images/hide.png' : '../../assets/images/view.png'" alt="missing logo" />
        <img *ngIf="selectuserview && availUserList.all.length" (click)="showAddGroupOption()" class="enable-select-user-logo" src="../../assets/images/add-user.png" alt="missing logo" />
        <img *ngIf="msgview || selectuserview" (click)="showNoneView()" class="cancel-logo" src="../../assets/images/cancel.png" alt="missing logo" />
      </div>
      <div class="message-list" *ngIf="noneview">
        <ul class="all-chats no-user">
          <li class="no-user-text"> No user choosen! </li>
        </ul>
      </div>
      <div class="message-list" *ngIf="msgview">
        <ul class="all-chats" (scroll)="loadMoreMessage($event)">
          <li class="no-user-text" *ngIf="!messages.length && !newChat.selected"> Loading messages... </li>
          <li *ngFor="let m of messages" [ngClass]="{'left': m.createdBy === recipient.username, 'text-message-list': true}">
            <div [ngClass]="{'left': m.createdBy === recipient.username, 'text-message': true}">
              {{m.text}}
            </div>
          </li>
          <li *ngIf="showTyping.status" [ngClass]="{'left': true, 'text-message-list': true}">
            <div [ngClass]="{'left': true, 'text-message': true, 'text-typing': true}">
              {{showTyping.text}}
            </div>
          </li>
          <li [ngClass]="{'left': true, 'text-message-list': true}" id="bottom-element"></li>
        </ul>
        <div class="input">
          <input type="text" [(ngModel)]="text" (keydown)="onKey($event)" (keyup)="onEnter($event)" (focusout)="onFocusout($event)" placeholder="Send a message" class="chat-input" />
        </div>
      </div>
      <div class="message-list" *ngIf="selectuserview">
        <div class="input">
          <input type="text" placeholder="Enter name, username or email address." class="chat-input" >
        </div>
        <ul class="all-chats no-background">
          <li class="row scroll-fixed" *ngIf="selectedUserList.length">
            <ul class="selected-user-container" [ngStyle]="{'width': selectedUserWidth}">
              <li class="selected-user col" *ngFor="let o of selectedUserList"> {{o.fname}} {{o.lname}} </li>
            </ul>
          </li>
          <li class="no-user-text" *ngIf="!availUserList.recommended.length && !availUserList.all.length"> We are loading... </li>
          <p class="user-list-heading" *ngIf="availUserList.recommended.length > 0"> Recommended Users </p>
          <li class="row" *ngFor="let o of availUserList.recommended" (click)="getMessageForThis(o)">
            <div class="img-col col">
              <img src="http://127.0.0.1:3333/upload/avatar/female.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4> {{o.fname}} {{o.lname}} </h4>
              <input *ngIf="enableAddUserToGroup" class="avail-user-check" type="checkbox" name="member" value="{{o.member}}" [checked]="o.checked">
            </div>
          </li>
          <p class="user-list-heading" *ngIf="availUserList.all.length > 0"> All Users </p>
          <li class="row" *ngFor="let o of availUserList.all" (click)="getMessageForThis(o)">
            <div class="img-col col">
              <img src="http://127.0.0.1:3333/upload/avatar/female.png" alt="user" class="user-img" />
            </div>
            <div class="recent-msg col">
              <h4> {{o.fname}} {{o.lname}} </h4>
              <input *ngIf="enableAddUserToGroup" class="avail-user-check" type="checkbox" name="member" value="{{o.member}}" [checked]="o.checked">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
