.chat-window {
  border: 1px solid #0f9d58;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}
.row {
  position: relative;
  padding: 5px 10px;
  padding-right: 25px;
  cursor: pointer;
}
.row:hover {
  background: #f1f1f1;
}
.col {
  display: inline-block;
  vertical-align: top;
}
h3, h4 {
  margin: 0;
  font-weight: 400;
}
p {
  margin: 0;
}
.header {
  padding: 1em;
  background: #0f9d58;
  color: #fff;
}
.message-list {
  /* min-height: 400px; */
  min-width: 500px;
}
.user-list {
  max-width: 350px;
  border-right: 1px solid #bdbdbd;
}
.all-chats {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}
.message-list .all-chats {
  background: #f1f1f1;
}
.message-list .all-chats.no-user {
  min-height: 475px;
  max-height: 475px;
}
.user-img {
  display: block;
}
.recent-msg {
  padding: 12px 0;
}
.search .recent-msg {
  padding: 22px 0;
}
.recent-msg-text {
  padding: 1px 0;
  color: #6d6d6d;
  font-size: 14px;
}
.search {
  border-bottom: 1px solid #bdbdbd;
}
.chat-input {
  width: -webkit-fill-available;
  border: 2px solid #bdbdbd;
  min-height: 69px;
  padding: 1px 15px;
  outline: none;
}
.message .header:not(.extrapadding) {
  cursor: pointer;
}
.message .header.extrapadding {
  padding-top: 35px;
}