.b-r-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1;
}

.b-l-btn {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 1;
}

.image-title {
  left: 0px;
  bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  text-transform: uppercase;
}

.tag .tag-item {
  background: #c3233f;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

.post-image {
  width: 100%;
  // border: 1px solid rgba(255, 255, 255, 0.35);
}

.reply-icon {
  width: 55px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid;
}

.user-comment {
  font-family: 'Montserrat', sans-serif !important;
  line-height: 30px;
  word-break: break-word;
}

.link-sm {
  outline: none;
  cursor: pointer;

  transition: 0.2s ease-in-out all;

  &:hover {
    background: #212121;
    opacity: 1;
  }
}
