.image-title {
  left: 0px;
  bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  text-transform: uppercase;
}

.tag .tag-item {
  background: #c3233f;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

.post-image {
  width: 100%;
  // border: 1px solid rgba(255, 255, 255, 0.35);
}

.reply-icon {
  width: 25px;
}

.user-comment {
  font-family: 'Montserrat', sans-serif !important;
  line-height: 30px;
  word-break: break-word;
}