<div class="container">
  <div class="head">
    <span class="header"> Projects </span>
  </div>
  <div class="body">
    <div class="row">
      <p> Desysia </p>
    </div>
    <div class="row">
      <p> This is our current game we are working towards releasing. It is a multiplayer Sci-Fi survival FPS that aims to breathe some life into the decaying genre. It contains many aspects and game mechanics never seen before. Currently we cannot disclose much about the game due to our NDA but it is planned to go into pre-alpha in the next 3 to 6 months. </p>
    </div>
    <div class="row">
      <p> Game Engine: Unity 5.4 </p>
    </div>
    <div class="row">
      <a href="http://www.desysia.com/ui.html" target="blank"> Dedicated Site </a>
    </div>
    <div class="row">
      <mat-divider></mat-divider>
    </div>
    <div class="row">
      <p> EXtinction </p>
    </div>
    <div class="row">
      <p> Description... </p>
    </div>
    <div class="row">
      <p> Game Engine... </p>
    </div>
    <div class="row">
      <a> Dedicated Site </a>
    </div>
    <div class="row">
      <mat-divider></mat-divider>
    </div>
  </div>
</div>