<div class="container psynapsus">
  <div class="head">
    <div class="col">
      <img src="/assets/logo/Onimind_Logo.png" class="logo" alt="Missing logo">
    </div>
    <div class="col v-al-m">
      <h1 class="l-h-120"> Psynapsus </h1>
    </div>
  </div>
  <div class="body">
    <div class="row" *ngIf="false">
      <div class="col w33 t-al-center">
        <a class="nav bg-register" [ngClass]="{'active': navItem==='register'}" (click)="navItem='register'"> Register </a>
      </div>
      <div class="col w33 t-al-center">
        <a class="nav bg-login" [ngClass]="{'active': navItem==='login'}" (click)="navItem='login'"> Login </a>
      </div>
    </div>
    <div class="row">
      <div [ngClass]="{'signup-container': true}" [hidden]="navItem === 'login'">
        <div class="col w70">
          <mat-card class="login-card">
            <mat-card-header>
              <div mat-card-avatar class="login-header-image"></div>
              <mat-card-title>Welcome!</mat-card-title>
              <mat-card-subtitle>Register here</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <!-- 
              Email input field with Regular Expression updated validation checking.
              -->
              <div class="row">
                <mat-form-field class="contact-input">
                  <input matInput placeholder="Enter your email" autocomplete="off" [formControl]="email" required>
                  <mat-error *ngIf="!email.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required')">
                    Email is required
                  </mat-error>
                </mat-form-field>
              </div>
      
              <div class="row">
                <mat-form-field>
                  <input matInput placeholder="Enter your password" [type]="hidePass ? 'password' : 'text'" [formControl]="password" required>
                  <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="password.hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [disabled]="disableClick" (click)="disableClick = !disableClick">Create an account</button>
              <button mat-raised-button color="primary" class="right" [disabled]="disableClick" (click)="disableClick = !disableClick">Login</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div [ngClass]="{'login-container': true}" [hidden]="navItem === 'register'">
        <div class="col w33"></div>
        <div class="col w60">
          <div class="wrapper">
            <div class="col w50"></div>
            <div class="col w50">
              <mat-card class="login-card">
                <mat-card-header>
                  <div mat-card-avatar class="login-header-image"></div>
                  <mat-card-title>Welcome!</mat-card-title>
                  <mat-card-subtitle>Login here</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
            
                  <!-- 
                    Email input field with Regular Expression updated validation checking.
                    -->
                  <div class="row">
                    <mat-form-field class="contact-input">
                      <input matInput placeholder="Enter your email" autocomplete="off" [formControl]="email" required>
                      <mat-error *ngIf="!email.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="email.hasError('required')">
                        Email is required
                      </mat-error>
                    </mat-form-field>
                  </div>
            
                  <div class="row">
                    <mat-form-field>
                      <input matInput placeholder="Enter your password" [type]="hidePass ? 'password' : 'text'" [formControl]="password" required>
                      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error *ngIf="password.hasError('required')">
                        Password is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button [disabled]="disableClick" (click)="disableClick = !disableClick">Create an account</button>
                  <button mat-raised-button color="primary" class="right" [disabled]="disableClick" (click)="disableClick = !disableClick">Login</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>