.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: #fff;
}

.head, .body {
  padding: 15px;
  /* margin: 0 auto; */
}

.row {
  padding: 10px 0;
}

.col {
  display: inline-block;
  /* padding: 0 5px; */
  vertical-align: top;
}

.col.v-al-m {
  vertical-align: middle;
}

.mobile .col:not(.inline) {
  display: block;
}

.col.w20 {
  width: 20%;
}

.col.w30 {
  width: 30%;
}

.col.w33 {
  width: 33.3%;
}

.col.w40 {
  width: 40%;
}

.col.w50 {
  width: 50%;
}

.col.w60 {
  width: 60%;
}

.col.w70 {
  width: 60%;
}

.col.w80 {
  width: 80%;
}

.mobile .col.w20:not(.inline), .mobile .col.w30:not(.inline), .mobile .col.w33:not(.inline), .mobile .col.w40:not(.inline), .mobile .col.w50:not(.inline), .mobile .col.w60:not(.inline), .mobile .col.w70:not(.inline), .mobile .col.w80:not(.inline) {
  width: 100%
}

.wrapper {
  padding: 10px;
  min-height: 500px;
  background: #303030;
}

.l-h-120 {
  line-height: 120px;
}

.logo {
  width: 150px;
}

.t-al-right {
  text-align: right;
}

.t-al-center {
  text-align: center;
}

/* .nav {
  transition: .2s ease-in-out;
  height: 37px;
  width: 250px;
  margin: 5px 0;
  display: inline-block;
  cursor: pointer;
  line-height: 32px;
}

.nav.bg-register {
  background: url(/assets/background/white-bg.png) 0 0/contain no-repeat;
}

.nav.bg-login {
  background: url(/assets/background/white-bg.png) 0 0/contain no-repeat;
}

.nav:hover, .nav.active {
  background: url(/assets/background/red-bg.png) 0 0/contain no-repeat;
} */

/**
 * @description Login Component CSS
 */
.login-container, .signup-container {
  padding: 16px;
}

.login-card {
  max-width: 400px;
}

.login-header-image {
  background-image: url('/assets/logo/Onimind_Logo.png');
  background-size: cover;
}

.mat-form-field {
  width: 100%;
}

.mat-icon {
  cursor: pointer;
}

.right {
  float: right;
}