<div class="container psynapsus">
  <div class="head">
    <div class="col">
      <img src="/assets/logo/Onimind_Logo.png" class="logo" alt="Missing logo">
    </div>
  </div>
  <div class="body">
    <div class="row">
      <!-- <div class="col w33 t-al-center">
        <a src="" class="nav"> A </a>
      </div> -->
      <div class="col w33 t-al-center">
        <a src="" class="nav bg-register"> Register </a>
      </div>
      <div class="col w33 t-al-center">
        <a src="" class="nav bg-login"> Login </a>
      </div>
    </div>
    <div class="row">
      <div class="col t-al-center"></div>
    </div>
  </div>
</div>