<div class="container">
  <div class="content-wrapper">
    <div [ngClass]="{'head': true}">
      <div class="col">
        <img src="/assets/logo/Onimind_Logo.png" class="logo" alt="Missing logo">
      </div>
      <div class="col v-al-m">
        <h1 class="l-h-120"> Psynapsus </h1>
      </div>
    </div>
    <div [ngClass]="{'body': true, 'mobile': mobileQuery.matches}">

      <div class="row">

        <!-- Last login users. -->
        <div class="col w50">
          <div class="wrapper">

            <!-- Component Breakdown -->
            <div>
              <h2 class="heading"> Recent Logins </h2>
              <div class="row">
                <p class="paragraph"> Psynapsus admin panel helps you keep track on company updates and user feedbacks. Still no login detected!</p>
              </div>
            </div>

            <!-- Component Breakdown -->
            <div *ngIf="!mobileQuery.matches">
                <h2 class="heading"> Features </h2>
                <div class="row">
                  <ul>
                    <li> Create, update or delete post to/from Desysia blog  </li>
                    <li> Communicate to a user registered with Desysia </li>
                    <li> Post or update game details for Rotten Visions </li>
                    <li> Track and update your profile as required </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>

        <!-- Login/Register Card Container. -->
        <div class="col w50">

          <!-- Login & Register Card Layout Is Here. -->
          <app-login [mobileQuery]="mobileQuery"></app-login>

        </div>
      </div>

    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>