<div class="content-wrapper">
  <div class="body">

    <!-- Messages Card Starts Here -->
    <mat-card>

      <!-- Messages Title Bar Starts Here -->
      <div class="row">

        <!-- Back Button Appears Here -->
        <div class="col w33"> <mat-icon matSuffix> arrow_back </mat-icon> </div>
        
        <!-- Message Title Will Appear Here -->
        <div class="col w33 t-al-center card-title"> 
          <mat-icon matPrefix class="title-item"> chat </mat-icon>
          <h4 class="title-item m-l-5"> Messages </h4>
        </div>
        
        <!-- Empty Row For Matching Template -->
        <div class="col w33 t-al-right"></div>
      </div>

      <!-- Chat List Wrapper Starts Here -->
      <div class="row">
        <div class="col w30">

            <mat-list class="list-wrapper">
              <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line> Abhisek Dutta </h4>
                <p mat-line> Hi there! </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line> Abhisek Dutta </h4>
                <p mat-line> Hi there! </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line> Abhisek Dutta </h4>
                <p mat-line> Hi there! </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line> Abhisek Dutta </h4>
                <p mat-line> Hi there! </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line> Abhisek Dutta </h4>
                <p mat-line> Hi there! </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line> Abhisek Dutta </h4>
                <p mat-line> Hi there! </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line> Abhisek Dutta </h4>
                <p mat-line> Hi there! </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line> Abhisek Dutta </h4>
                <p mat-line> Hi there! </p>
              </mat-list-item>
              <!-- <mat-divider></mat-divider>
              <h3 mat-subheader>Notes</h3>
              <mat-list-item *ngFor="let note of notes">
                <mat-icon mat-list-icon>note</mat-icon>
                <h4 mat-line>{{note.name}}</h4>
                <p mat-line> {{note.updated | date}} </p>
              </mat-list-item> -->
            </mat-list>

          <!-- <ul class="chat-wrapper shade">
            <li class="user-item m-0 row">
              <div class="col w20">

              </div>
              <div class="col w80">
                <h3> Abhisek Dutta </h3>
                <p> Hi there! </p>
              </div>
            </li>
            <li class="user-item m-0 row">
              <div class="col w20"></div>
              <div class="col w80"></div>
            </li>
          </ul> -->

        </div>

        <div class="col w2"> <mat-divider style="height: 400px;" [vertical]="true"></mat-divider> </div>

        <div class="col w60">
          <div class="chat-wrapper"></div>
        </div>

      </div>

    </mat-card>
    <!-- Messages Card Ends Here -->

    <div class="chat-section-wrapper"></div>

  </div>
</div>
