
.card-title .title-item {
  display: inline-block;
  vertical-align: middle;
}

.list-wrapper {
  max-height: 392px;
  overflow-y: auto;
}

.login-header-image {
  background-image: url('/assets/logo/Onimind_Logo.png');
  background-size: cover;
}