<!--  *ngIf="!store.isDevice.Android && !store.isDevice.BlackBerry && !store.isDevice.iOS && !store.isDevice.Windows" -->

<div class="video-wrapper" *ngIf="!store.isDevice.BlackBerry && !store.isDevice.iOS && !store.isDevice.Windows">
  <iframe src="https://psynapsus.appspot.com/embed/rottenvisions-bgv.html"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen> <!-- http://localhost:5000/embed/rottenvisions-bgv.html || https://psynapsus.appspot.com/embed/rottenvisions-bgv.html -->
  </iframe>
</div>

<router-outlet (activate)="routeChange($event)"></router-outlet>

<!-- Background Overlay -->
<div class="mobile-bg"></div>