/**
 * Progress Bar CSS
 */
.progressbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.mat-progress-bar {
  height: 3px;
}

.mat-progress-bar.hidden {
  visibility: hidden;
}