<div class="psynapsus-container" [class.psynapsus-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" [ngClass]="{'mobile': mobileQuery.matches, 'psynapsus-toolbar': true, 'default': true}">
      <mat-toolbar-row>
        
        <!-- Set [ngClass]="{'hidden': true}" to hide mobile nav button. -->
        <button mat-icon-button [ngClass]="{'hidden': !mobileQuery.matches}" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <img [routerLink]="['/']" src="/assets/logo/clean-logo.png" alt="Rotten Visions Logo" class="site-logo"
          matTooltip="Rotten Visions | Home" matTooltipPosition="after">
          <div class="search-holder">
            <input type="search" [ngClass]="{'mobile': mobileQuery.matches}">
            <img class="search-icon" src="/assets/icon/search.png" alt="Search Logo"
            matTooltip="Click on SEARCH" matTooltipPosition="after">
          </div>
      </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="psynapsus-sidenav-container default" [style.marginTop.px]="mobileQuery.matches ? 130 : 0">
    
    <!-- Remove opened attribute to hide side nav after page load. -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="130" class="default"
      [ngClass]="{'mobile': mobileQuery.matches}">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>