
<!-- Login Card Layout Is Here. -->
<form #loginFormElement name="loginFormElement" (ngSubmit)="loginFun();" [formGroup]="loginForm">
  <mat-card class="login-card" *ngIf="login">
    <mat-card-header>
      <div mat-card-avatar class="login-header-image"></div>
      <mat-card-title>Welcome Admin!</mat-card-title>
      <mat-card-subtitle>Please login here.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- 
        Email input field with Regular Expression updated validation checking.
        -->
      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Enter your email" autocomplete="off" [formControl]="email" required>
          <mat-error *ngIf="!email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
            <input matInput placeholder="Enter your password"
              [type]="hidePass ? 'password' : 'text'"
              [formControl]="password" autocomplete="off" required
              >
            <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.hasError('invalid')">
              Password don't contain space and minimum 6 characters
            </mat-error>
            <mat-error *ngIf="password.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="button" [disabled]="disableClick" (click)="login=!login;"> Create an account </button>
      <button mat-raised-button type="submit" color="primary" class="right" [disabled]="disableClick">Login</button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- Register Card Layout Is Here. -->
<form #registerFormElement name="registerFormElement" (ngSubmit)="registerFun();" [formGroup]="registerForm">
  <mat-card class="signup-card" *ngIf="!login">
    <mat-card-header>
      <div mat-card-avatar class="login-header-image"></div>
      <mat-card-title>Hello Visitor!</mat-card-title>
      <mat-card-subtitle>Register here.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Enter your first name" autocomplete="off" [formControl]="firstName" required>
          <mat-error *ngIf="!firstName.hasError('required')">
            Please enter a valid first name
          </mat-error>
          <mat-error *ngIf="firstName.hasError('required')">
            First name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Enter your last name" autocomplete="off" [formControl]="lastName" required>
          <mat-error *ngIf="!lastName.hasError('required')">
            Please enter a valid last name
          </mat-error>
          <mat-error *ngIf="lastName.hasError('required')">
            Last name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <!-- <mat-form-field class="contact-input"> -->
          <label> KeyCode: {{ keyCode }} </label>
        <!-- </mat-form-field> -->
      </div>

      <!-- 
        
      -->
      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput minlength="5" maxlength="32" placeholder="Choose your username" autocomplete="off" [formControl]="username" (keydown)="preventInvalid($event)" (blur)="hasUsername($event)" required>

          <mat-icon matSuffix class="mat-error" *ngIf="!availableUser.hasError"> error_outline </mat-icon>
          <mat-icon matSuffix class="green-done" *ngIf="availableUser.hasError"> done </mat-icon>

          <mat-error *ngIf="username.hasError('invalid_username')">
            Please enter a valid email username
          </mat-error>
          <mat-error *ngIf="username.hasError('required')">
            Username is required
          </mat-error>
          <mat-error *ngIf="username.hasError('minlength')">
            Username must have {{ username.errors.minlength.requiredLength }} charactes
          </mat-error>
        </mat-form-field>
      </div>

      <!-- 
        Email input field with Regular Expression updated validation checking.
        -->
      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Enter your email" autocomplete="off" [formControl]="email" required>
          <mat-error *ngIf="!email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Confirm your email" autocomplete="off" [formControl]="confirmEmail" required>
          <mat-error *ngIf="!confirmEmail.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="confirmEmail.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="contact-input">
          <mat-select placeholder="Choose your type" [formControl]="capability" required panelClass="select-background">
            <mat-option value="1">Regular user</mat-option>
            <mat-option value="2">Project admin</mat-option>
          </mat-select>
          <mat-error *ngIf="capability.hasError('required')">Please choose an user</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Enter your password"
            [type]="hidePass ? 'password' : 'text'"
            [formControl]="password" autocomplete="off" required
            >
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="password.hasError('invalid')">
            Password don't contain space and minimum 6 characters
          </mat-error>
          <mat-error *ngIf="password.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Confirm your password" [type]="hideConPass ? 'password' : 'text'" [formControl]="confirmPassword" autocomplete="off" required>
          <mat-icon matSuffix (click)="hideConPass = !hideConPass">{{hideConPass ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="confirmPassword.hasError('invalid')">
            Password don't contain space and minimum 6 characters
          </mat-error>
          <mat-error *ngIf="confirmPassword.hasError('required')">
            Confirm password is required
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="button" [disabled]="disableClick" (click)="login=!login;"> {{ mobileQuery.matches ? 'Already admin? Login' : 'Already have an account? Login' }} </button>
      <button mat-raised-button type="submit" color="primary" class="right" [disabled]="disableClick"> Register </button>
    </mat-card-actions>
  </mat-card>
</form>
