* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
}

html, body {
  height: 100% !important;
}

a, p {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  width: fit-content;
  padding: 1px;
  background: #000;
  /* opacity: 0.6; */
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nasalization;
  letter-spacing: 1px;
}

div, span {
  font-family: Norwester;
  letter-spacing: 1px;
}

.container a:not(.op-1), .container p:not(.op-1) {
  opacity: 0.6;
}

span.writable-update,
span.writable-update strong,
span.writable-update i,
span.writable-update b,
span.writable-update p,
span.writable-update h1,
span.writable-update h2,
span.writable-update h3,
span.writable-update h4,
span.writable-update h5,
span.writable-update h6,
span.writable-update li {
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
}

img.mobile.logo {
  max-width: 200px;
  max-height: 45px;
}

mat-form-field div, mat-form-field span {
  font-family: 'Roboto Mono', monospace;
}

.mat-divider {
  border-top-color: #303030;
}

.icon-image-preview {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  fill: currentColor;
  background-size: contain;
}

.icon-white {
  filter: contrast(4) invert(1);
}

.pointer {
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
  top: -20px;
  left: -20px;
}

.pos-f {
  position: fixed;
}

.o-flow-hidden {
  overflow: hidden;
}

.op-4 {
  opacity: 0.4;
}

.op-4nImp {
  opacity: 0.4 !important;
}

.op-5 {
  opacity: 0.5;
}

.op-75 {
  opacity: 0.75;
}

.op-75nImp {
  opacity: 0.75 !important;
}

.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}
.font-20 {
  font-size: 20px;
}

.font-w-400 {
  font-weight: 400;
}

.font-f-roboto {
  font-family: 'Roboto Mono', monospace;
}

.green-done {
  color: #4caf50;
}

span.writable-update img {
  max-width: 100%;
}

.c-red {
  color: #c3233f;
}

perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y {
  background-color: transparent !important;
}

.ps .ps__rail-y:hover {
  background-color: transparent !important;
}

.ps .ps__rail-y .ps__thumb-y {
  width: 3px !important;
}

.ps .ps__rail-y:hover > .ps__thumb-y {
  width: 4px !important;
}

.text-center {
  text-align: center;
}