* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
}

a, p {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  width: fit-content;
  padding: 1px;
  background: #000;
  /* opacity: 0.6; */
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nasalization;
  letter-spacing: 1px;
}

div, span {
  font-family: Norwester;
  letter-spacing: 1px;
}

.container a, .container p {
  opacity: 0.6;
}

img.mobile.logo {
  max-width: 200px;
  max-height: 45px;
}