@import url('https://fonts.googleapis.com/css?family=Material+Icons|Montserrat:300,400,500|Open+Sans+Condensed:300|Source+Sans+Pro:700');

@font-face {
  font-family: 'Scifly';
  src: url('assets/font/scifly.woff');
}

// @description: Override Angular's default theming styles.
// @import '~@angular/material/theming';
@import 'theming.scss';

@include mat-core();

$primary: mat-palette($mat-pink, 900);
$accent:  mat-palette($mat-pink, 700);
$warn:    mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);