@import url('https://fonts.googleapis.com/css?family=Material+Icons|Montserrat:300,400,500');

@font-face {
  font-family: 'Scifly';
  src: url('assets/font/scifly.woff');
}

@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-pink, A700);
$accent:  mat-palette($mat-pink, A400);
$warn:    mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);