table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 14%;

  &.w5 {
    width: 5%;
  }
  &.w10 {
    width: 10%;
  }
  &.w15 {
    width: 15%;
  }
  &.w20 {
    width: 20%;
  }
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid white;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-paginator-page-size-label {
  min-width: 100px;
}
