<div class="content-wrapper">
  <div class="body">

    <!-- LATEST POSTS APPEARS HERE -->
    <div class="row">
      <div class="col w100">
        <div class="update-tab"> USER DETAILS </div>
        <mat-divider></mat-divider>

        <!-- Repeat should be here -->
        <ul>
          <li class="row">
            <div class="col w100">

              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>

              <table mat-table matSort
                [dataSource]="dataSource" multiTemplateDataRows
                class="mat-elevation-z8">
                <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header
                    [ngClass]="{
                      'w5': ['emailValidated', 'allowedToAccess'].includes(column),
                      'w10': ['id', 'firstName', 'lastName'].includes(column),
                      'w15': ['username'].includes(column),
                      'w20': ['email'].includes(column)
                    }"> {{column | titlecase}} </th>
                  <td mat-cell *matCellDef="let element"
                    [ngClass]="{
                      'w5': ['emailValidated', 'allowedToAccess'].includes(column),
                      'w10': ['id', 'firstName', 'lastName'].includes(column),
                      'w15': ['username'].includes(column),
                      'w20': ['email'].includes(column)
                    }"> {{element[column]}} </td>
                </ng-container>
              
                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail"
                      [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                      <ul>
                        <li class="row">
                          <!-- <form [formGroup]="userUpdateForm" (ngSubmit)="updateUser($event);"> -->
                            <!-- <div class="col w100 p-t-5 p-b-5"> DB Id: {{element._id}} </div> -->
                            <div class="col w100 p-t-5 p-b-5"> Email: {{element.email}} </div>
                            <div class="col w100 p-t-5 p-b-5"> Name: {{element.fullName}} </div>
                            <div class="col w100 p-t-5 p-b-5"> User Id: {{element.id}} </div>
                            <div class="col w100 p-t-5 p-b-5"> Username: {{element.username}} </div>
                            <div class="col w100 p-t-5 p-b-5"> Capability: {{element.capability}} </div>
                            <div class="col w100 p-t-5 p-b-5"> Email Validated: 
                              <mat-slide-toggle class="example-toggle" [checked]="element.emailValidated" [disabled]="disableToggle" (change)="update($event, element, 'emailValidated')"></mat-slide-toggle>
                            </div>
                            <div class="col w100 p-t-5 p-b-5"> Allowed to Access:
                              <mat-slide-toggle class="example-toggle" [checked]="element.allowedToAccess" [disabled]="disableToggle" (change)="update($event, element, 'allowedToAccess')"></mat-slide-toggle>
                            </div>
                            <!-- <div class="col w100 p-t-5 p-b-5">
                              <button mat-raised-button type="button" color="primary" [ngClass]="{'right': !mobileQuery.matches}" [disabled]="disableClick" (click)="update($event, element)"> Update </button>
                            </div> -->
                          <!-- </form> -->
                          <!-- <mat-divider></mat-divider> -->
                        </li>
                      </ul>

                    </div>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            </div>
          </li>
        </ul>

      </div>
    </div>
    
  </div>
</div>
