<footer class="card-footer footer">
	<div style="text-align: right;">
		<img src="assets/Rotten-vision-design/Source/Social_icons/Facebook.png">
		<img src="assets/Rotten-vision-design/Source/Social_icons/Twitter.png">
		<img src="assets/Rotten-vision-design/Source/Social_icons/Twitter_Bird.png">
		<img src="assets/Rotten-vision-design/Source/Social_icons/iCloud.png">
		<img src="assets/Rotten-vision-design/Source/Social_icons/Youtube.png">
		<img src="assets/Rotten-vision-design/Source/Social_icons/Vimeo.png">
		<img src="assets/Rotten-vision-design/Source/Social_icons/Pinterest.png">
		<img src="assets/Rotten-vision-design/Source/Social_icons/Instagram.png">
	</div>
</footer>
