<footer class="card-footer footer">
	<div style="text-align: right;">
		<img src="assets/Rotten-vision-design/Source/Social_icons/Facebook.png" 
			tooltip="Facebook" placement="top" show-delay="50"
		>
		<img src="assets/Rotten-vision-design/Source/Social_icons/Twitter.png" 
			tooltip="Twitter" placement="top" show-delay="50"
		>
		<img src="assets/Rotten-vision-design/Source/Social_icons/Twitter_Bird.png" 
			tooltip="Twitter_Bird" placement="top" show-delay="50"
		>
		<img src="assets/Rotten-vision-design/Source/Social_icons/iCloud.png" 
			tooltip="iCloud" placement="top" show-delay="50"
		>
		<img src="assets/Rotten-vision-design/Source/Social_icons/Youtube.png" 
			tooltip="Youtube" placement="top" show-delay="50"
		>
		<img src="assets/Rotten-vision-design/Source/Social_icons/Vimeo.png" 
			tooltip="Vimeo" placement="top" show-delay="50"
		>
		<img src="assets/Rotten-vision-design/Source/Social_icons/Pinterest.png" 
			tooltip="Pinterest" placement="top" show-delay="50"
		>
		<img src="assets/Rotten-vision-design/Source/Social_icons/Instagram.png" 
			tooltip="Instagram" placement="top" show-delay="50"
		>
	</div>
</footer>
