<div class="content-wrapper">
    <div [ngClass]="{'body': true, 'mobile': mobileQuery.matches}">

      <div class="row">

        <div class="col w100">

          <div class="row">
            <div class="col w60">
              <!-- 
              Email input field with Regular Expression updated validation checking.
              -->
              <div class="row">
                <div class="row">
                  <h2 class="heading c-red"> Enter post details </h2>
                </div>
  
                <div class="row">
                  <mat-form-field class="contact-input" appearance="outline">
                    <mat-label> Enter post title </mat-label>
                    <input matInput placeholder="eg.: Coming on 8th" autocomplete="off" required>
                    <!-- <mat-error *ngIf="!email.hasError('required')">
                      Please enter a valid email address
                    </mat-error> -->
                    <!-- <mat-error *ngIf="email.hasError('required')">
                      Email is required
                    </mat-error> -->
                  </mat-form-field>
                </div>
          
                <div class="row">
                  <mat-form-field class="contact-input" appearance="outline">
                    <mat-label> Add post tags </mat-label>
                    <mat-chip-list #chipList>
                      <mat-chip *ngFor="let tag of tags" selectable="true"
                                removable="true" (removed)="remove(tag)">
                        {{tag.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="eg.: Octopus"
                              [matChipInputFor]="chipList"
                              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                              matChipInputAddOnBlur="true"
                              (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                  </mat-form-field>
                </div>
  
                <div class="row">
                  <mat-form-field class="contact-input textarea" appearance="outline">
                    <mat-label> Enter post description </mat-label>
                    <textarea [style.minHeight.px]="90" matInput #message matTextareaAutosize maxlength="256" placeholder="eg.: After a long await..." required></textarea>
                    <mat-hint align="start" *ngIf="!mobileQuery.matches"><strong>Don't disclose personal info</strong> </mat-hint>
                    <mat-hint align="start" *ngIf="mobileQuery.matches"><strong>It's public</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                    <!-- <mat-error *ngIf="!messageFormControl.hasError('required')">
                      Message must have 10 words. Eg.: Hi Alfred! ...
                    </mat-error>
                    <mat-error *ngIf="messageFormControl.hasError('required')">
                      Message is <strong>required</strong>
                    </mat-error> -->
                  </mat-form-field>
                </div>

                <div class="row" *ngIf="!mobileQuery.matches">
                  <section class="select-publish-section">
                    <!-- <mat-checkbox class="check" [(ngModel)]="publish"> Publish </mat-checkbox> -->

                    <mat-slide-toggle
                        class="check" [(ngModel)]="publish">
                        Publish
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
  
            </div>
  
            <div class="col w40">
              <div class="m-l-50">
  
                <div class="row">
  
                  <!-- Image Container -->
                  <div class="row">
                    <h2 class="heading c-red"> {{ mobileQuery.matches ? 'Click to add image here' : 'Drag & drop image here' }} </h2>
                  </div>
  
                  <div class="row">
                    <div class="drop-image-cover">
                      <input type="file" class="drop-image">
                    </div>
                  </div>

                  <div class="row">
                    <h2 class="heading c-red"> Notes </h2>
                    <div class="row">
                      <ul class="default">
                        <li> Choose 16:9 image dimention for best view </li>
                        <li> Maximum file size is 5.0MB </li>
                        <li> No image will be shown when not uploaded </li>
                      </ul>
                    </div>
                  </div>
  
                </div>
  
              </div>
            </div>
          </div>

          <div class="row">
            
            <div class="col w30 inline" *ngIf="mobileQuery.matches">
              <section class="select-publish-section">
                <!-- <mat-checkbox class="check" [(ngModel)]="publish"> Publish </mat-checkbox> -->

                <mat-slide-toggle
                    class="check" [(ngModel)]="publish">
                    Publish
                </mat-slide-toggle>
              </section>
            </div>

            <div class="col w70 inline">
              <div class="col inline" *ngIf="!mobileQuery.matches" [ngClass]="{'right': mobileQuery.matches}">
                <button mat-raised-button type="submit" color="primary"> {{ publish ? 'Publish' : 'Save' }} </button>
              </div>
  
              <div class="col inline" [ngClass]="{'right': mobileQuery.matches}">
                <div class="m-l-10 force">
  
                  <button mat-stroked-button type="button" color="primary">
                    <mat-icon aria-label="Example icon-button with a heart icon"> chevron_left </mat-icon>
                  </button>
  
                </div>
              </div>

              <div class="col inline" *ngIf="mobileQuery.matches" [ngClass]="{'right': mobileQuery.matches}">
                <button mat-raised-button type="submit" color="primary"> {{ publish ? 'Publish' : 'Save' }} </button>
              </div>
            </div>

          </div>

        </div>
      </div>
  </div>
</div>